html
  head
    meta(charset='utf-8')
    meta(name='format-detection', content='telephone=no')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height')
    meta(name='msapplication-tap-highlight', content='no')
    link(rel='stylesheet' type='text/css', href='/index.css')
    style(type="text/css").
      html {
        font-size: 10px;
        font-family: Asap, sans-serif;
      }
      
      .demo-login-screen {
        position: relative;
        width: 100%;
        height: 500px;
        margin-top: 20px;
        background-color: #0f70b1;
        background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2P4//8/AxI2RuGAaBQOTADOAWEAjAwwnWPnCWYAAAAASUVORK5CYII=);
      }
      
      .demo-header input {
        width: 100%;
        font-size: 14px;
      }
        
  body
    .demo-header 
      h1 Syn auth
      h2 #{"<syn-auth-login-form @url @channel />"}
      div @url:
        input( ng-model="loginUrl" placeholder="Copy a webservice url to test the component")
      div @channel:
    .demo-login-screen
      syn-auth-login-form( url="loginUrl", channel="login-demo-channel" )
    script(type='text/javascript', src='/index.bundle.js')
    script(type='text/javascript').
      angular.bootstrap( document.body, [ syn.auth.angular.getModule().name ] )
      sub = syn.auth.pubsub.channel.factory.create( 'login-demo-channel', [ 'success', 'error' ] );
      sub.success.subscribe( function( user ){ console.log( user ); } )
      sub.error.subscribe( function( msg ){ console.warn( 'Error: ' + msg ); } )
