html
  head
    meta(charset='utf-8')
    meta(name='format-detection', content='telephone=no')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height')
    meta(name='msapplication-tap-highlight', content='no')
    link(rel='stylesheet' type='text/css', href='/index.css')
    style(type="text/css").
      html, body {
        font-size: 10px;
        margin: 0;
      }
      
      .demo-login-screen {
        position: relative;
        width: 100%;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 60px;
      }
      
      .demo-header input {
        width: 100%;
        font-size: 14px;
      }
        
  body
    .demo-header 
      h1 Syn auth
      h2 #{"<syn-auth-login-form @url @channel @stay-logged-in />"}
      div @url:
        input( ng-model="loginUrl")
      div @channel:
        span "login-demo-channel"
    .demo-login-screen
      syn-auth-login-form( url="loginUrl", channel="login-demo-channel" )
        include ../imgs/logos/logo-example.svg
    br
    h2 stay-logged-in="true"
    p Remember me is hidden and forced to true
    .demo-login-screen
      syn-auth-login-form( url="loginUrl", channel="login-demo-channel" stay-logged-in="true" )
        include ../imgs/logos/logo-example.svg
    script(type='text/javascript', src='/index.bundle.js')
    script(type='text/javascript').
      module = syn.auth.angular.getModule()
        .run( function( $rootScope ) {
          $rootScope.loginUrl = 'http://api.my-domain.com/login'
        } )
      angular.bootstrap( document.body, [ module.name ] )
      sub = syn.core.pubsub.channel.factory.create( 'login-demo-channel', [ 'success', 'error' ] );
      sub.success.subscribe( function( user ){ console.log( user ); } )
      sub.error.subscribe( function( msg ){ console.warn( 'Error: ' + msg ); } )
