.syn-login-body
  form.syn-form
    .syn-form-logo
      logo
    .syn-form_errors {{ errors }}
    .syn-form_body
      .syn-form_row
        input.syn-form_input( type="text" name="username" autocapitalize="off" required placeholder="{{ USER }}" )
      .syn-form_row
        input.syn-form_input( type="password" name="password" required placeholder="{{ PASSWORD }}" )
      //- .syn-form_row
      //-   input.syn-form_check.checkbox-custom( id="remember-login" type="checkbox" name="remember-login" )
      //-   label.checkbox-custom-label( for="remember-login" ) {{ REMEMBER_ME }}
      button( type='submit' ).syn-form_submit {{ ACCESS }}
  //- .syn-user-card
  //-   .syn-user-card_picture
  //-     ._placeholder
  //-   .syn-user-card_titles 
  //-     .syn-user-card_title {{ user.name() }}
  //-     .syn-user-card_subtitle {{ user.username() }}
.syn-login-footer
  span {{ COPYRIGHT }}
