@import "_loading.scss";
@import "_variables.scss";
@import "_centered-box.scss";
@import "_syn-form.scss";
@import "_syn-user-card.scss";

syn-auth-login-form {

  font-family: $font-family;

  .syn-form-logo {
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center;

    logo {
      svg, img {
        max-width: 50%;
      }
    }
  }

  &.syn-auth-login-form {
    position: absolute;
    min-height: 450px;
    width: 100%;
    height: 100%;
    background: $c-brand;
  }

  .syn-user-card {
    display: none;
    @include syn-box-centered;
  }

  &.syn-auth-login-form--loading {
    @extend .syn-loading-inner;
  }

  &.syn-auth-login-form--error {
    .syn-form_errors { display: block; }
  }

  &.syn-auth-login-form--success {
    .syn-form { display: none; }
    .syn-user-card { display: block; }
  }
}

.syn-form, .syn-user-card {
  @include syn-box-centered;
  max-width: 450px;
}
