$syn-auth-login-form-width: 450px;
$syn-auth-login-form-height: 450px;

syn-auth-login-form {

  font-family: $font-family;

  .syn-form-logo {
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center;

    logo {
      svg, img {
        max-height: 80%;
        max-width: 80%;
      }
    }
  }

  &.syn-auth-login-form {
    position: absolute;
    min-height: $syn-auth-login-form-height;
    width: 100%;
    height: 100%;
    background: $c-brand;
  }

  &.syn-auth-login-form--loading {
    @extend .syn-loading-inner;
  }

  &.syn-auth-login-form--error {
    .syn-form_errors { display: block; }
  }

  &.syn-auth-login-form--success {
    .syn-form { display: none; }
    .syn-user-card { display: block; }
  }

  .syn-form, .syn-user-card {
    @include syn-box-centered;
    max-width: $syn-auth-login-form-width;
  }

  // .syn-user-card {
  //   display: none;
  //   @include syn-box-centered;
  // }
}

.syn-login-footer {
  position: absolute;
  width: 100%;
  bottom: 10%;
  font-size: 1.3rem;
  color: $c-brand-fg;
  text-align: center;
}

@media screen and ( max-height: 500px ) {
  .syn-login-footer {
    bottom: 5%;
  }
}
