@mixin syn-form-input( $font-size ) {
  padding: $spacing * .65 $spacing * 1.6;
  border-radius: $border-radius;
  font-size: $font-size;
  font-family: $font-family;
  width: 100%;
}

.syn-form {
  overflow: hidden;
}

.syn-form_body {
  padding: $spacing * 1.5 $spacing * 2;
}

.syn-form_row {
  margin-bottom: $spacing;
}

// CUSTOM FIELDS 
.syn-form_input {
  @include syn-form-input( 1.4rem );
  border: 0;
  color: $c-brand;  
}

.syn-form_input:focus {
  border: 1px solid $c-brand;
  outline-width: 3px;
  outline-style: outset;
  outline-color: $c-darkness;
}

.checkbox-custom {
  opacity: 0;
  position: absolute;  

  + .checkbox-custom-label:before {
    display: inline-block;
    width: $spacing;
    height: $spacing;
    padding: $spacing / 6;
    margin-right: $spacing / 2;
    vertical-align: middle;
    background: #fff;
    border-radius: $border-radius;
    text-align: center;
    content: "";
  }
}

.checkbox-custom, .checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: $spacing / 2;
  cursor: pointer;
}

.checkbox-custom-label {
  position: relative;
  font-size: 1.4rem;
  line-height: 2rem;
  color: $c-brand-fg;
}


.checkbox-custom:checked + .checkbox-custom-label:before {
  color: $c-brand;
  content: "\2713";
}

// END CUSTOM FIELDS

.syn-form_submit {
  @include syn-form-input( 1.6rem );
  background: $c-darkness;
  border: 0;
  color: $c-brand-fg;
  text-transform: uppercase;
}

.syn-form_errors {
  display: none;
  position: relative;
  padding: $spacing $spacing * 2 0;
  margin-top: $spacing;
  font-size: 1.6rem;
  color: $bgc-danger-fg;
  text-align: center;
}

.syn-login-footer {
  position: absolute;
  width: 100%;
  bottom: 10%;
  font-size: 1.3rem;
  color: $c-brand-fg;
  text-align: center;
}

@media screen and ( max-height: 500px ) {
  .syn-login-footer {
    bottom: 5%;
  }
}
